:root {
  --region-top-height: 1.5rem;
  --color-1: #D64CF1;
  --color-2: #00B3F5;
}

.c1 {
  color: var(--color-1);
}

.c2 {
  color: var(--color-2);
}

.bg--allocated {
  background-color: var(--bg--allocated);
}

.region {
  display: flex;
  flex-direction: column;
  position: relative;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}

.region-fields {
  display: flex;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.region:not(:first-child) {
  /* margin-left: 1px; */
}

.field:not(:first-child),
.subfield:not(:first-child) {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: hsla(0, 0%, 100%, .6);
}

.payload {
  --bg: #073072;
  --bg-bright: #063F96;
  background-color: var(--bg);
  cursor: pointer;
}

.payload:hover {
  background-color: var(--bg-bright);
}

.payload:active {
  background-color: var(--bg);
}

.payload:hover .payload-allocated {
  display: none;
}

.payload:not(:hover) .payload-free {
  display: none;
}

.size-bar {
  background-color: var(--color-1);
}

.h--bar {
  height: 0.25rem;
}

.striped {
  background: url("diagonalstripes.svg");
  background-size: 8px;
  background-clip: content-box;
}