:root {
  --region-top-height: 1.5rem;
  --color-1: #D64CF1;
  --color-2: #00B3F5;
}

.c1 {
  color: var(--color-1);
}

.c2 {
  color: var(--color-2);
}

.region {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
}

.region-fields {
  display: flex;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.region:not(:first-child) {
  /* margin-left: 1px; */
}

.field:not(:first-child) {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: hsla(0, 0%, 100%, .6);
}

.size-bar {
  background-color: var(--color-1);
  height: 0.25rem;
}